
.price-card {
    min-width: 380px;
    margin-right: 18px;
    flex: 0;
    background-color: $price-card-background;
    color: $text-color;
    box-shadow: $box-shadow;
    overflow: hidden;

    &:last-child {
        margin-right: 0;
    }

    &__green {
        .price-card__price {
            background-color:  $greeen-color;
        }
        .price-card__options-item::before {
            background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
        }

        .price-card__order-btn {
            background-color: $greeen-color;
        }


    }
    
    &__blue {
        .price-card__price {
            background-color: $blue-color;
        }
        .price-card__options-item::before {
            background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
        }

        .price-card__order-btn {
            background-color: $blue-color;
        }

    }

    &__orange {
        .price-card__price {
            background-color:  $orange-color;
        }
        .price-card__options-item::before {
            background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
        }

        .price-card__order-btn {
            background-color:  $orange-color;
        }
    }
    
    &__header {
        position: relative;
        padding: 33px 0;
    }

    &__badge {
        position: absolute;
        width: 150px;
        transform: rotate(45deg);
        top: 32.5px;
        right: -32.5px;
    }

    &__title {
        font-weight: bold;
        font-size: 35px;
        text-align: center;
        margin: 0;
        line-height: 33px;
        &__small {
            line-height: 20px;
            font-weight: normal;
            font-size: 20px;
        }
    }
    &__price {
        font-size: 55px;
        line-height: 105px;
        font-weight: bold;
        text-align: center;
    }

    &__description {
        margin: 0;
        padding: 40px 26px;
        font-size: 15px;
        font-weight: 300;
        text-align: center;
    }

    &__options-list {
        list-style: none;
        padding: 0;
        margin: 0;

    }

    &__options-item {
        position: relative;
        padding: 0 21px 0 59px;
        font-size: 15px;
        line-height: 50px;
        font-weight: 300; 

        &:nth-child(odd) {
            background-color: #2a3438;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            left: 22px;
            top: 18px;
            width: 15px;
            height: 13px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    &__footer {
        padding: 39px 0 40px 0;
        text-align: center;
    }

    &__order-btn {
        display: inline-block;
        line-height: 40px;
        width: 154px;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 20px;
        color: #fff;
    }
}

.badge {
    display: inline-block;
    line-height: 27px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #DC3F45;
    text-align: center;
    
}


