$page-background: #141b1c;
$price-card-background: #334247;
$list-background-odd: #2A3438;
$box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
$text-color: #FFFFFF;
$font-family: Montserrat, sans-serif;
$greeen-color: #5BB189;
$blue-color:  #3A6BA5;
$orange-color:  #EC632A;
